.settings-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    gap: 20px;
    background-color: beige;
}
.settings-art{
    display: flex;
    flex-direction: column;
}