.sideMenu {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  /* background-color: rgb(39, 138, 238); */
}

.sideMenu-button {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
