.sideMenu {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  /* background-color: rgb(39, 138, 238); */
}

.sideMenu-button {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: none;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 20px;
}

.sideMenu-button:hover {
  color: #f4f4f4;
  background-color: #003585;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
